<!-- 
Student: Joao Victor Fernandes dos Santos
StudentId: jvfernandes-dos-sant
Student Numbeer: 155858194
Course: WEB 322 
Professor: George Kougioumtzoglou
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href = "/css/style.css">
    <title>AirB&B</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img class = "logo" src = "/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/rooms" style = "font-size: 22px;">Rooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register" style = "font-size: 22px;">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login" style = "font-size: 22px;">Login</a>
            </li>
          </ul>
        </div>
      </nav>
      <section class = "first">
        <br><br>
        <form class ="form" onsubmit="console.log('form Submitted'); return false;">
          <table>
            <tbody>
              <tr>
                <td>
                  <label for="where">WHERE</label><br>
                  <input style="width:100%;" id="where" type="text" placeholder="Anywhere"/>
                  <br><br>
                  <label for="in">CHECK-IN</label>
                  <input type = "date" id ="in"><br>
                  <label for="out">CHECK-OUT</label>
                  <input type = "date" id ="out"><br><br>
                  <label for = "guests">GUESTS</label><br>
                  <select style="width: 100%;" id = "guests">
                    <option value = "one_guest">1 Guest</option>
                    <option value = "two_guest">2 Guests</option>
                    <option value = "three_guest">3 Guests</option>
                    <option value = "four_guest">4 Guests</option>
                    <option value = "five_guest">5+ Guests</option>
                  </select><br><br>
                </td>
              </tr>
              <tr>
                <td colspan="2"><button style="margin-left: 80%; padding: 4px 8px; border-radius: 5%; background-color: salmon; 
                font-weight: bold; border-style: none; cursor: pointer;" type="search">Search</button></td>
              </tr>
            </tbody>
          </table>
        </form>
        <p class = "hero-text" id = "hero-opacity" >Find the perfect place for you.</p>
      </section>
      <section class = "second">
        <br><br><br><br><br><br><br>
        <p class = "video-text" id = "hero-opacity" >Live unique experiences in any part of the world.<br>Book now the best place for the best price.</p>
        <p class = "video-text">What is AirB&B?</p>
        <video style="display: block; margin: auto; width: 40%; border-radius: 2%;" controls >
          <source src="/images/video.mp4" type="video/mp4">
        </video>
        <p class = "video-text">Here you can book bedrooms, whole houses or apartments. For the best price.</p>
      </section>
      <div class="footer">
        <a href="/rooms" style = "font-size: 22px; color:white; text-decoration: none; margin-right: 3%;">Rooms</a>
        <a href="/register" style = "font-size: 22px; color:white; text-decoration: none; margin-right: 3%;">Sign Up</a>
        <a href="/login" style = "font-size: 22px; color:white; text-decoration: none; margin-right: 3%;">Login</a>
        <a href = "https://twitter.com/airbnb"><img class ="social" src = "/images/twitter.png"></a>
        <a href = "https://www.instagram.com/airbnb/"><img class = "social" src ="/images/insta.png"></a>
        <a href = "https://www.facebook.com/airbnbuk/"><img class = "social" src ="/images/face.png"></a>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>